@font-face {
    font-family: 'nunito';
    src: url('./Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'gont';
    src: url('./Gontserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    max-width: 300px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    color: #010101;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
    
  }
  
  /*Form text*/
  .title {
    font-family: 'nunito';
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-family: 'gont';
    font-size: 0.8rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: inset 6px 6px 12px #bebebe,
            inset -6px -6px 12px #ffffff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    font-family: 'gont';
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  }
  
  .form-section a {
    font-weight: bold;
    color: #008BB0;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #008BB0;
    text-decoration: underline;
  }
  
 /* Button */
.form button {
    position: relative;
    color: #fff;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #008BB0;
    border-radius: 24px;
    box-shadow: inset 14px 14px 30px #007696,
    inset -14px -14px 30px #00a0ca;
    overflow: hidden;
    transition: all 1s ease;
    z-index: 0;

  }
  
  /* Hover effect for background */
  .form button:hover {
    transform: inset 0px 0px 0px #007696;
  }
  
  /* Box elements inside button */
  .box {
    position: absolute;
    translate: 300px -60px;
    height: 70px;
    width: 200px;
    transition: all 0.8s ease;
  }

  .form button:hover .box1 {
    translate: -30px -60px;
    background-color: #B1CB41;
    box-shadow: inset -29px 29px 57px #839630,
            inset 29px -29px 57px #dfff52;
    z-index: 1;
  }
  .form button:hover .box2 {
    translate: 10px -60px;
    background-color: #F5D016;
    box-shadow: inset -29px 29px 57px #b59a10,
            inset 29px -29px 57px #ffff1c;
    z-index: 2;

  }
  .form button:hover .box3 {
    translate: 40px -60px;
    background-color: #ED6B3F;
    box-shadow: inset -29px 29px 57px #af4f2f,
            inset 29px -29px 57px #ff874f;
    z-index: 3;
  }
  .form button:hover .box4 {
    translate: 70px -60px;
    background-color: #DD1668;
    box-shadow: inset -29px 29px 57px #a4104d,
            inset 29px -29px 57px #ff1c83;
    z-index: 4;
  }

  .su {
    position: relative;
    z-index: 5;
  }

  body {
    background-image: url("./stationery-corners-white-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }